html, body{
color:white;
background-color:blue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 70px;
font-size: 1.3em;
text-align: center;
}

button{
    font-size: 1.3em;
    padding:10px;
    margin-right: 10px;
}